.git/**
.vs/**
.vscode/**
build/**
cmtconfig/**
conf/**
images/*.gif
nclangsrv/**
packages/**
parser/**
parser_net/**
parser_net_test/**
parser_ut/**
tools/**
x64/**
vscode-client/src
vscode-client/tsconfig.json
**/.gitignore
**/*.vsix
**/*.pdb
**/gtest*.dll
**/gmock*.dll
**/*_ut.exe
**/nunit.*
**/NUnit3.*
**/parser_net_test.*
**/testcentric.*
**/nunit_*
**/parser_ut.*
CMakeLists.txt
docker
vagrant
*.json
*.sln
.*
