.git/**
.vs/**
.vscode/**
cmtconfig/**
conf/**
nclangsrv/**
packages/**
parser/**
parser_net/**
parser_net_test/**
parser_ut/**
tools/**
x64/**
vscode-client/src
vscode-client/tsconfig.json
**/.gitignore
**/*.vsix
**/*.pdb
**/gtest*.dll
**/gmock*.dll
**/*_ut.exe
**/nunit.*
**/NUnit3.*
**/parser_net_test.*
CMakeLists.txt
Dockerfile
*.json
*.sln
.*
