.vscode/**
tests/**
.github
.settings
.project
vscode-client/src
**/.gitignore
**/*.vsix
**/*.pdb
**/gtest*.dll
**/gmock*.dll
**/*_ut.exe
**/nunit.*
**/NUnit3.*
**/parser_net_test.*
src/build/**
src/dist/**